<div class="container">
    <div class="header__top header__top-materials header__top-offer">
        <a href="index.html" class="logo">
            <img src="images/svg/logo.svg" alt="logo" class="logo__img">
        </a>
        <nav class="menu">
            <button class="menu__btn"><svg class="svg-menu-btn-dims"><use xlink:href="../images/sprite.svg#menu-btn"></use></svg></button>
            <ul class="menu__list">
                <li class="menu__list-item menu__list-item-offer">
                    <a href="offer.html" class="menu__list-link">Услуги <span>Аренда техники</span></a>
                </li>
                <li class="menu__list-item menu__list-item-materials">
                    <a href="materials.html" class="menu__list-link">Материалы</a>
                    <ul class="submenu__list">
                        <li class="submenu__list-item"><a href="#" class="submenu__list-link">Песок</a>
                        </li>
                        <li class="submenu__list-item"><a href="#" class="submenu__list-link">Щебень</a>
                        </li>
                        <li class="submenu__list-item"><a href="#" class="submenu__list-link">Асфальтовая крошка</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__list-link">Доставка и оплата</a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__list-link">О компании</a>
                </li>
                <li class="menu__list-item">
                    <a href="#" class="menu__list-link">Контакты</a>
                </li>
            </ul>
        </nav>
        <nav class="menu__phone menu__phone--active">
            <div class="menu__phone-top">
                <img src="images/svg/logo-min.svg" alt="logo">
                <button class="menu__btn-x"><svg class="svg-icon-x-dims"><use xlink:href="../images/sprite.svg#icon-x"></use></svg></button>
            </div>
            <ul class="menu__list-phone">
                <li class="menu__list-phone-item">
                    <a href="offer.html" class="menu__list-phone-link">Услуги</a>
                </li>
                <li class="menu__list-phone-item">
                    <a href="materials.html" class="menu__list-phone-link">Материалы</a>
                </li>
                <li class="menu__list-phone-item">
                    <a href="#" class="menu__list-phone-link">Доставка и оплата</a>
                </li>
                <li class="menu__list-phone-item">
                    <a href="#" class="menu__list-phone-link">О компании</a>
                </li>
                <li class="menu__list-phone-item">
                    <a href="#" class="menu__list-phone-link">Контакты</a>
                </li>
            </ul>
            <a href="#" class="menu__phone-link global-link">Заказать звонок</a>
            <a href="#" class="menu__phone-copy">Политика конфиденциальности © спец-транс, 2023</a>
        </nav>
    </div>
</div>