<section class="questions">
    <div class="container">
        <div class="questions__inner">
            <div class="questions__content">
                <h3 class="questions__title">Остались вопросы?</h3>
                <p class="questions__subtext">Закажите обратный звонок и <br> узнайте больше о наших услугах!
                </p>
                <p class="questions__text">Оставьте заявку и наш менеджер перезвонит вам в течении 10 минут</p>
                <a href="#" class="questions__link global-link">Заказать звонок</a>
            </div>
            <form class="questions__form">
                <input type="text" class="questions__form-input" placeholder="Имя">
                <input type="text" class="questions__form-input" placeholder="Телефон">
                <textarea class="questions__form-textarea" placeholder="Комментарии"></textarea>
                <label for="questions-checkbox">
                    <input class="questions__form-checkbox real-checkbox" id="questions-checkbox"
                        type="checkbox">
                    <span class="custom-checkbox"></span>
                    <p class="questions__form-text">Соглашение о персональных данных</p>
                </label>
            </form>
        </div>
    </div>
</section>